<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="log">
            <file>test/LogTest.php</file>
        </testsuite>
        <testsuite name="event">
            <file>test/Events/EventTest.php</file>
        </testsuite>
        <testsuite name="register">
            <file>test/RegisterTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">test/TestClass</directory>
        </blacklist>
    </filter>
</phpunit>
